/* Start Globals */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;600;900&display=swap");
:root {
  --main-color: #2196f3;
  --secondary-color: #2c4755;
  --section-bgcolor: #efefef;
  --shadow-color: #999;
  --text-height: 1.5;
  --text-color: #777;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --main-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/*small screens*/
@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
/*meduium screens*/
@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
  .head .container .links img {
    display: block !important;
    width: 300px !important;
  }
}
/*large screens*/
@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
/************************************************** End Globals **********************************************************/
/************************************************** Start Components ****************************************************/
.special-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: var(--main-radius);
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto 70px;
  cursor: pointer;
  transition: 0.5s;
}
.special-text::before,
.special-text::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: var(--main-transition);
}
.special-text::before {
  left: -30px;
}
.special-text::after {
  right: -30px;
}
.special-text:hover::before {
  z-index: -1;
  animation: move-left 0.5s linear forwards;
}
.special-text:hover::after {
  z-index: -1;
  animation: move-right 0.5s linear forwards;
}
.special-text:hover {
  color: white;
}
.special-text > h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/* **************************************************** Start Components********************************************************/
/****************************************************** Start Header **********************************************************/
.head {
  position: relative;
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: white;
}
.head .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.head .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  color: var(--main-color);
  height: 70px;
}
.head .container .nav {
  display: flex;
}
.head .container .nav > li > a {
  position: relative;
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  transition: var(--main-transition);
  overflow: hidden;
}
.head .container .nav > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.head .container .nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--section-bgcolor);
}
.head .container .nav > li > a:hover::before {
  width: 100%;
}
.head .container .nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2px);
}
.head .container .mega-menu {
  display: flex;
  gap: 40px;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  background-color: white;
  z-index: -1;
  width: 100%;
  border-bottom: 3px solid var(--main-color);
  padding: 20px;
  opacity: 0;
  transition: var(--main-transition);
}
.head .container .mega-menu img {
  max-width: 100%;
}
.head .container .mega-menu .links > li {
  position: relative;
}
.head .container .mega-menu .links > li:not(:last-child) {
  border-bottom: 1px solid var(--section-bgcolor);
}
.head .container .mega-menu .links > li::before {
  content: "";
  position: absolute;
  transition: var(--main-transition);
  width: 0;
  height: 100%;
  background-color: var(--section-bgcolor);
  left: 0%;
  z-index: -1;
}
.head .container .mega-menu .links > li:hover::before {
  width: 100%;
}
.head .container .mega-menu .links > li > a {
  color: var(--main-color);
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 600;
}
.head .container .mega-menu .links > li > a > i {
  margin-right: 10px;
}
/* Start  Header Media */
@media (max-width: 768px) {
  .head .container {
    justify-content: center;
  }
  .head .container .logo {
    width: 100%;
    height: 50px;
  }
  .head .container .nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}
@media (max-width: 992px) {
  .head .container .mega-menu {
    gap: 0px;
    flex-direction: column;
  }
  .head .container .mega-menu > ul:first-of-type > li:last-child {
    border-bottom: 1px solid var(--section-bgcolor);
  }
  .head .container .mega-menu img {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .head .container .mega-menu .links > li > a {
    padding: 20px 10px;
    font-size: 14px;
  }
}
/* End Header Media  */
/***************************************************** End Header ***********************************************************/
/****************************************************** Start Landing *******************************************************/
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 100%;
  background-color: var(--section-bgcolor);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding-bottom: 155px;
}
.landing .container .landing-text {
  flex: 1;
}
.landing .container .landing-text > h1 {
  font-size: 40px;
  letter-spacing: 1.5px;
  max-width: 100%;
}
.landing .container .landing-text > p {
  font-size: 24px;
  line-height: var(--text-height);
  color: var(--text-color);
  max-width: 100%;
}
.landing .container > img {
  width: 600px;
  animation: up-down 4s linear infinite;
}
.landing .go-down > i {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  animation: bouncing 1.5s linear infinite;
}
/* Start Landing Media Section  */
@media (max-width: 768px) {
  .landing .container .landing-text > h1 {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .landing .container > img {
    display: none;
  }
  .landing .container .landing-text {
    width: 100%;
    text-align: center;
  }
}
/* End Landing Media Section  */
/******************************************************* End Landing *******************************************************/
/******************************************************** Start Articles ***************************************************/
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles-content > article {
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: var(--main-radius);
  cursor: pointer;
  transition: var(--main-transition);
}
.articles-content > article:hover {
  transform: translateY(-10px);
}
.articles-content > article > img {
  width: 100%;
  border-top-right-radius: var(--main-radius);
  border-top-left-radius: var(--main-radius);
}
.articles-content > article .article-body,
.articles-content > article .article-footer {
  padding: 10px 20px;
}
.articles-content > article .article-body {
  border-bottom: 1px solid var(--section-bgcolor);
}
.articles-content > article .article-body > h3 {
  margin: 0;
  font-size: 18px;
}
.articles-content > article .article-body > p {
  margin: 10px 0;
  line-height: var(--text-height);
  color: var(--text-color);
}
.articles-content > article .article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.articles-content > article .article-footer > a {
  color: var(--main-color);
  font-size: 14px;
  font-weight: bold;
}
.articles-content > article .article-footer > i {
  color: var(--main-color);
  animation: read-more-arrow 0.5s ease-in-out infinite;
  animation-play-state: paused;
}
.articles-content > article:hover .article-footer > i {
  animation-play-state: running;
}
/* ****************************************************** End Articles ********************************************************/
/******************************************************** Start Gallery *******************************************************/
.gallery {
  position: relative;
  background-color: var(--section-bgcolor);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.gallery .special-text {
  z-index: 2;
}
.gallery::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -15px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
      45deg,
      var(--section-bgcolor) 66.7%,
      transparent 30.3%
    ),
    linear-gradient(-45deg, var(--section-bgcolor) 66.7%, transparent 30.3%);
  background-size: 20px 40px;
}
.gallery .gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .gallery-content > section {
  border: 15px solid white;
  border-radius: var(--main-radius);
  overflow: hidden;
  position: relative;
}
.gallery .gallery-content > section::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 10;
}
.gallery .gallery-content > section:hover::before {
  animation: flashing 0.5s;
}
.gallery .gallery-content > section:hover img {
  transform: scale(1.3) rotate(2deg);
}
.gallery .gallery-content > section img {
  max-width: 100%;
  transition: var(--main-transition);
}
/* ****************************************************** End Gallery ***************************************************/
/****************************************************** Start Features ****************************************************/
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.features .features-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .features-content > section {
  border: 1px solid var(--shadow-color);
  border-radius: var(--main-radius);
}
.features-content .feat-img {
  position: relative;
  overflow: hidden;
}
.features-content .feat-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features-content > section:nth-child(1) > .feat-img::before {
  background-color: rgb(244 64 54 / 50%);
}
.features-content > section:nth-child(2) > .feat-img::before {
  background-color: rgb(0 150 136 / 50%);
}
.features-content > section:nth-child(3) > .feat-img::before {
  background-color: rgb(3 169 244 / 50%);
}
.features-content .feat-img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -10px;
  border-style: solid;
  border-width: 0 0 170px 650px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .features-content > section:hover .feat-img::after {
  border-width: 0 650px 170px 0;
}
.features-content .feat-img > img {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.features-content .feat-body {
  text-align: center;
  padding: 0 10px;
}
.features .features-content .feat-body h3 {
  position: relative;
  width: fit-content;
  font-size: 30px;
  margin: 10px auto;
  padding-bottom: 10px;
}
.features .features-content .feat-body h3::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.features-content > section:nth-child(1) > .feat-body h3::after {
  background-color: #f44036;
  width: 80%;
}
.features-content > section:nth-child(2) > .feat-body h3::after {
  background-color: #009688;
  width: 70%;
}
.features-content > section:nth-child(3) > .feat-body h3::after {
  background-color: var(--main-color);
  width: 80%;
}
.features .features-content .feat-body p {
  line-height: var(--text-height);
  color: var(--text-color);
  font-size: 20px;
}
.features .features-content > section > a {
  display: block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid;
  width: fit-content;
  border-radius: var(--main-radius);
  margin: 30px auto;
  font-size: 14px;
  font-weight: bold;
}
.features-content > section:nth-child(1) > a {
  color: #f44036;
  border-color: #f44036;
  background-position: right bottom;
}
.features-content > section:nth-child(2) > a {
  color: #009688;
  border-color: #009688;
}
.features-content > section:nth-child(3) > a {
  color: var(--main-color);
  border-color: var(--main-color);
}
.features .features-content > section > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
.features .features-content > section:nth-child(1) > a::before {
  background-color: #f44036;
}
.features .features-content > section:nth-child(2) > a::before {
  background-color: #009688;
}
.features .features-content > section:nth-child(3) > a::before {
  background-color: var(--main-color);
}
.features .features-content > section:hover > a {
  color: white;
}
.features .features-content > section:hover > a::before {
  width: 100%;
  z-index: -1;
}
/****************************************************** End Features ****************************************************/
/****************************************************** Start testimonials **********************************************/
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-bgcolor);
  position: relative;
}
.testimonials::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -15px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
      45deg,
      var(--section-bgcolor) 66.7%,
      transparent 30.3%
    ),
    linear-gradient(-45deg, var(--section-bgcolor) 66.7%, transparent 30.3%);
  background-size: 20px 40px;
}
.testimonials .special-text {
  z-index: 2;
}
.testimonials .testimonials-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials .testimonials-content > section {
  padding: 20px;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: 0 0 10px var(--shadow-color);
  position: relative;
}
.testimonials .testimonials-content > section > .img {
  position: absolute;
  top: -8px;
  right: -20px;
}
.testimonials .testimonials-content > section > .img > img {
  max-width: 100%;
  border-radius: 50%;
  width: 100px;
  border: solid 10px var(--section-bgcolor);
}
.testimonials .testimonials-content > section > .body h3 {
  font-size: 18px;
  margin: 0;
}
.testimonials .testimonials-content > section > .body p {
  color: var(--text-color);
  margin: 8px 0;
}
.testimonials .testimonials-content > section > .body p:first-of-type {
  font-size: 16px;
}
.testimonials .testimonials-content > section > .body p:last-of-type {
  line-height: var(--text-height);
}
.testimonials .testimonials-content > section > .body ul {
  display: flex;
}
.testimonials .testimonials-content > section > .body ul li {
  padding-right: 5px;
}
.testimonials .testimonials-content > section > .body ul li i.filled {
  color: gold;
}
/****************************************************** End testimonials **********************************************/

/********************************************************* Start Team  *********************************************************/
.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.team .team-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 80px;
  column-gap: 30px;
}
.team .team-content > section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
}
.team .team-content > section::before,
.team .team-content > section::after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: -1;
  right: 0;
  top: 0;
  border-radius: var(--main-radius);
  transition: var(--main-transition);
}
.team .team-content > section::before {
  background-color: var(--section-bgcolor);
  width: calc(100% - 60px);
}
.team .team-content > section::after {
  width: 0;
  background-color: #e4e4e4;
}
.team .team-content > section:hover::after {
  width: calc(100% - 60px);
}
.team .team-content > section > .data {
  display: flex;
  align-items: center;
}
.team .team-content > section > .data > img {
  width: calc(100% - 60px);
  border-radius: var(--main-radius);
}
.team .team-content > section:hover .data img {
  filter: grayscale(100%);
}
.team .team-content > section > .data > ul {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.team .team-content > section > .data > ul li {
  padding: 15px 0;
}
.team .team-content > section > .data > ul li i {
  color: #777;
}
.team .team-content > section > .data > ul li i:hover {
  color: var(--main-color);
}
.team .team-content > section > .info {
  padding-left: 80px;
}
.team .team-content > section > .info > h3 {
  color: var(--main-color);
}
.team .team-content > section > .info > p {
  color: var(--text-color);
}
.team .team-content > section > .info > h3,
.team .team-content > section > .info > p {
  margin: 10px 0 5px;
}
.team .team-content > section:hover .info h3 {
  color: #777;
}
/********************************************************* End Team  *********************************************************/
/********************************************************* Start services *********************************************************/
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-bgcolor);
  position: relative;
}
.services::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -15px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
      45deg,
      var(--section-bgcolor) 66.7%,
      transparent 30.3%
    ),
    linear-gradient(-45deg, var(--section-bgcolor) 66.7%, transparent 30.3%);
  background-size: 20px 40px;
}
.services .special-text {
  z-index: 2;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .services-content > section {
  background-color: white;
  box-shadow: 0 0 10px var(--shadow-color);
  transition: var(--main-transition);
  position: relative;
}
.services .services-content > section::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
  left: 50%;
  transform: translateX(-50%);
}
.services .services-content > section:hover {
  transform: translateY(-10px);
}
.services .services-content > section:hover::before {
  width: 100%;
}
.services .services-content .service-body {
  text-align: center;
  padding: 20px;
}
.services .services-content .service-body > i {
  color: #d5d5d5;
  font-size: 55px;
}
.services .services-content .service-body > h3 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 25px;
}
.services .services-content .service-footer {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: var(--section-bgcolor);
}
.services .services-content .service-footer::before,
.services .services-content .service-footer::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  transform: skewX(-20deg);
}
.services .services-content .service-footer::before {
  background-color: var(--main-color);
  left: -11px;
  width: 80px;
}
.services .services-content .service-footer::after {
  background-color: #d5d5d5;
  left: 69px;
  width: 45px;
}
.services .services-content .service-footer > div {
  position: relative;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.services .services-content .service-footer > a {
  color: var(--main-color);
}
/******************************************************** End services ********************************************************/
/******************************************************* Start skills  ********************************************************/
.skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.skills .skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .skills-content > img,
.skills .skills-content > .skills-data {
  width: 100%;
}
.skills .skills-content > .skills-data > div {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: var(--section-bgcolor);
}
.skills .skills-content > .skills-data > div > span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
.skills .skills-content > .skills-data > div > span::before {
  content: attr(data-per);
  position: absolute;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -35px;
  right: 0;
  width: 35px;
  height: fit-content;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
}
/* Start Skills Media  */
@media (max-width: 992px) {
  .skills .skills-content {
    flex-direction: column;
  }
}
/******************************************************* End skills  *******************************************************/
/******************************************************* Start Steps *******************************************************/
.steps {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-bgcolor);
  position: relative;
}
.steps::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: -15px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
      45deg,
      var(--section-bgcolor) 66.7%,
      transparent 30.3%
    ),
    linear-gradient(-45deg, var(--section-bgcolor) 66.7%, transparent 30.3%);
  background-size: 20px 40px;
}
.steps .special-text {
  z-index: 2;
}
.steps .steps-content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.steps .steps-content > img {
  width: 450px;
  max-width: 100%;
}
.steps .steps-content > .steps-data {
  flex-basis: 600px;
}
.steps .steps-content > .steps-data .step {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
  background-color: #f6f5f5;
  border: 1px solid white;
  border-radius: var(--main-radius);
  z-index: 1;
}
.steps .steps-content > .steps-data .step::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #ededed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
  border-radius: var(--main-radius);
  z-index: -1;
}
.steps .steps-content > .steps-data .step:hover::before {
  width: 100%;
}
.steps .steps-content > .steps-data .step > img {
  width: 80px;
  max-width: 100%;
  margin-left: 20px;
}
.steps .steps-content > .steps-data .step > .info {
  padding: 20px;
}
.steps .steps-content > .steps-data .step > .info > h3 {
  font-size: 20px;
  margin: 0;
}
.steps .steps-content > .steps-data .step > .info > p {
  color: var(--text-color);
  line-height: var(--text-height);
  font-size: 20px;
}
/* Start Steps Media  */
@media (max-width: 992px) {
  .steps .steps-content,
  .steps .steps-content > .steps-data .step {
    flex-direction: column;
  }
  .steps .steps-content > .steps-data .step > img {
    margin-top: 25px;
    margin-left: 0;
  }
  .steps .steps-content > .steps-data .step > .info {
    text-align: center;
  }
}
/******************************************************* End Steps *******************************************************/
/******************************************************** Start All Animation ******************************************/
/* special-text */
@keyframes move-right {
  50% {
    width: 12px;
    height: 120x;
    right: 0;
    border-radius: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 0;
  }
}
@keyframes move-left {
  50% {
    width: 12px;
    height: 120x;
    left: 0x;
    border-radius: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 0;
  }
}
/* End special-text */
/* Landing */
@keyframes up-down {
  50% {
    transform: translateY(-55px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Landing */
/* Articles  */
@keyframes read-more-arrow {
  50% {
    transform: translateX(8px);
  }
}
/* End Articles  */
/* Gallery */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 120%;
    height: 120%;
  }
}
/* End Gallery  */
